body {
  background-color: #E96D65;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 2.5em;
}
input {
  background-color: #b14943;
}
input:focus {
  background-color: #76C3BD;
}
.button {
  background-color: #76C3BD;
}
.button:before {
  position: absolute;
  content: url(images/right-arrow.png);
}
.button:hover {
  background-color: #69B1A9;
}
